@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

$round: 500px;
$center: center;
$fit: fit-content;
$footer-color: #585858;

$enable-responsive-font-sizes: true;

body {
  padding-top: $navbar-padding-y + $nav-link-height + $navbar-padding-y + 1;
}

.icon-main {
  border-radius: $round;
  -webkit-border-radius: $round;
  -moz-border-radius: $round;
  border: 7px solid #375a7f;
  background-color: black;
}

.avatar-name {
  display: inline-block;
}

.descriptor {
  display: inline;
  font-weight: bold;
  color: #04d9ff;
}

.icon-navbar {
  margin-left: 5px;
  border-radius: $round;
}

.faint-subtitle {
  color: #7e7f81;
}

.fit-content {
  width: $fit;
}

.float-right {
  float: right;
}

.user-card-body {
  padding: 10px 10px;
}

.footer {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #303030;
  width: 100%;
}

.list-item-mod {
  border: none !important;
  padding: 0 !important;
  color: $footer-color;
  margin: 0 !important;
}

.list-item-text {
  font-weight: bold;
  padding: 5px !important;
  margin: 0 !important;
}

.footer-header {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px;
}

.footer-link {
  color: inherit;
  text-decoration: inherit;
}

.align-items-center {
  text-align: $center;
}

.about {
  margin-top: 30px;

  /* background-color: rgb(20, 20, 20); */
}

.about-title {
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.about-content {
  padding: 10px;
}

.mg-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.logout-btn {
  background-color: transparent !important;
  border-color: white !important;
  margin-left: 7px;
}

.logout-btn:hover {
  background-color: white !important;
  color: #375a7f !important;
}

.bot-title {
  line-height: 140%;
}

.btn-links {
  margin-top: 50px;
  margin-bottom: 100px;
}

.links-header {
  margin-top: 100px;
  text-align: left;
}

.social-icon {
  font-size: 30px;
  margin-right: 15px;
}

.social-icon:hover {
  color: $teal;
  cursor: pointer;
}

.gt-logo {
  margin-bottom: 30px;
}

.social-header {
  color: #7e7f81;
  font-weight: bold;
  margin-bottom: 15px;
}
