@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

$round: 500px;
$center: center;
$fit: fit-content;

body {
  padding-top: $navbar-padding-y + $nav-link-height + $navbar-padding-y + 1;
}

.icon-main {
  border-radius: $round;
  -webkit-border-radius: $round;
  -moz-border-radius: $round;
  border: 7px solid #375a7f;
  background-color: black;
}

.avatar-name {
  display: inline-block;
}

.descriptor {
  display: inline;
  font-weight: bold;
  color: #04d9ff;
}

.icon-navbar {
  margin-left: 5px;
  border-radius: $round;
}

.faint-subtitle {
  color: #91acc9;
}

.fit-content {
  width: $fit;
}

.float-right {
  float: right;
}
