{% load static %}

{% load serializers %}

<!DOCTYPE html>
<html>
  <head>
    <title>Growth Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'public/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'public/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'public/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'public/site.webmanifest' %}">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div id="navbar"></div>
    {% block content %}
    {% endblock %}
    {% block js %}
    {% endblock %}
    {% if user.is_authenticated %}
      {{ user|serialize|json_script:"user" }}
    {% endif %}
    <script src="{% static 'js/vendors.js' %}"></script>
  </body>
</html>
